/* HEADER */
header{
  height: 80px;
  background-color: #3161E0;
  line-height: 80px;
  color: white;
}

.menu{
  width: calc(100% - 197px);
}

nav li{
  display: inline-block;
}

nav li a{
  color: white;
  margin: 0px 20px;
}

nav li a:hover{
  text-decoration: underline;
}



/* JUMBOTRON */
.jumbotron{
  height: 370px;
  padding: 100px;
  color: white;
  background-image: url('../img/jumbo.png');
  background-size: cover;
  background-position: center;
}

.jumbotron .content{
  width: 800px;
  margin: 0 auto;
}

.jumbotron h1{
  font-size: 46px;
  margin-bottom: 40px;
}

.jumbotron p{
  font-size: 19px;
  line-height: 30px;
  margin-bottom: 20px;
}

.jumbotron .content .btn:first-of-type{
  margin-right: 20px;
}

.jumbotron .content .btn:first-of-type i{
  font-size: 16px;
}



/* MAIN */




/* FOOTER */
.footer-col{
  width: calc(100% / 6);
}

.footer-col:first-of-type{
  width: calc(100% / 3);
}