.container{
  width: 90%;
  max-width: 1180px;
  margin: 0 auto;
}

.clearfix::after{
  content:  '';
  display: table;
  clear: both;
}

.float-left{
  float: left;
}

.text-center{
  text-align: center;
}

.w40{
  width: 40%;
}

.w50{
  width: 50%;
}

.w60{
  width: 60%;
}

.logo img{
  vertical-align: middle;
}

.btn{
  background-color: white;
  padding: 7px 15px;
  display: inline-block;
  line-height: 20px;
  border-radius: 40px;
  font-size: 14px;
  color: #24272A;
}

.btn-big{
  padding: 15px 25px;
  font-size: 20px;
}

.btn-dark{
  background-color: #24272A;
  color: white;
}

.btn:hover{
  color: #3161E0;
}













/* DEBUG */

.debug{
  background-color: rgba(255, 0, 0, .2);
  /* border: 1px solid black; */
}

.h100{
  min-height: 100px;
}

.h300{
  min-height: 300px;
}

.h500{
  min-height: 500px;
}

/* /DEBUG *